.App {
  text-align: center;
}

.ingredient {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.tomato {
  background-color: tomato;
}

.lettuce {
  background-color: greenyellow;
}

.cheese {
  background-color: gold;
}
.bun {
  background-color: rgb(192, 112, 0);
}
